@import "../config/colors.scss";

.journals.show {
  .container {
    background-color: $journal-bg;
  }
}

section {
  background-color: $journal-bg;

  .image_illustration {
    max-width: 400px;
    margin: 20px 0;

    img {
      width: 100%;
      border-radius: 2px;
    }

    .width_200 {
      width: 200px;
    }
  }
}

.journal_container {
  text-align: justify;
  display: flex;
  flex-direction: column;
  // gap: 32px;

  &--intro {
    display: flex;
    flex-direction: column;

    h1 {
      text-align: center;
      font-size: 2rem;
    }

    .details {
      display: flex;
      justify-content: space-between;
    }

    .intro {
      .cover_image.column {
        width: 100%;
      }

      .no_strong {
        font-weight: normal;
      }
    }

    .subtitle {
      text-align: left;
      line-height: 1.4;
    }
  }
}

@media (min-width: 1024px) {
  .journals.show {
    .container {
      width: 50%;
      margin: auto;
      background-color: transparent;
    }
  }

  .journal_container {
     &--intro {
      display: flex;
      flex-direction: column;
      padding: 90px 90px 0;

      h1 {
        text-align: center;
        font-size: 3.8rem;
      }

      .details {
        margin-bottom: 20px;
      }

      .subtitle {
        font-size: 34px;
        margin-bottom: 50px;
      }
    }

    .intro {
      display: grid;
      grid-template-columns: 400px 1fr;
      grid-gap: 2rem;

      .cover {
        display: flex;
        align-items: center;
      }
      .cover_image.column {
        object-fit: cover;
        max-width: 100%;
        width: auto;
      }

      .intro_content.column {
        max-width: 100%;
      }
    }

    .page_1 {
      padding: 50px 90px 90px;
      margin: 0 0 10px;
    }

    .page_2,
    .page_3,
    .page_4,
    .page_5,
    .page_6 {
      padding: 90px;
      margin: 10px 0;
    }

    section {
      columns: 2;
      column-gap: 50px;

      .subheading {
        margin-top: 32px;
      }

      p {
        margin: 0;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .journals.show {
    .container {
      width: auto;
      // margin: auto;
      background-color: transparent;
    }
  }

  .journal_container {
     &--intro {
      display: flex;
      flex-direction: column;
      padding: 80px 80px 0;

      h1 {
        text-align: center;
        font-size: 3rem;
      }

      .details {
        margin-bottom: 20px;
      }

      .subtitle {
        font-size: 32px;
        margin-bottom: 50px;
      }
    }

    .intro {
      display: grid;
      grid-template-columns: 300px 1fr;
      grid-gap: 2rem;

      .cover {
        display: flex;
        align-items: center;
      }
      .cover_image.column {
        object-fit: cover;
        max-width: 100%;
        width: auto;
      }

      .intro_content.column {
        max-width: 100%;
      }
    }

    .page_1 {
      padding: 50px 80px 80px;
      margin: 0 0 10px;
    }

    .page_2,
    .page_3,
    .page_4,
    .page_5,
    .page_6 {
      padding: 80px;
      margin: 10px 0;
    }

    section {
      columns: 2;
      column-gap: 50px;

      .subheading {
        margin-top: 32px;
      }

      p {
        margin: 0;
      }
    }
  }
}
