<div class="home_container">
  <div class="title_block">
    <p class="journal_label">Jorn<span>al</span></p>
    <h1 class="journal_title"> FUGI<em>FALA</em></h1>
  </div>

  <div class="journal_context">
    <p><strong>Fugifala</strong> é um espaço para acolher palavras que às vezes ficam presas, pensamentos que fogem da fala comum.</p>
    <p>Aqui encontras textos, imagens e histórias que ajudam a expressar o que nem sempre conseguimos dizer em voz alta.</p>
    <p>O jornal é um convite para explorar a linguagem de forma livre, criativa e sensível, dando voz a quem deseja compartilhar seu mundo interior.</p>
    <p>Junte-se a nós nessa jornada de palavras, sentimentos e descobertas.</p>
    <hr>
  </div>

  <div class="highlight_section">
    <p>
      O autor dessas falas também é o criador do livro <span>"Ellyzé - Autópsia da Alma"</span>, onde abre o coração e expõe o viver da filha, entre muitas outras emoções e experiências profundas.
      <br>
      <strong>Esta obra deu origem ao universo do jornal</strong>, e suas páginas são uma continuação viva desse mergulho íntimo, trazendo reflexões verdadeiras que tocam quem lê.
    </p>

    <p>Se quiser ler mais, o livro <span>"Ellyzé - Autópsia da Alma"</span>, está disponível <a href="https://www.fnac.pt/Ellyze-Autopsia-da-Alma-Jose-Maria-Dias-Cardoso/a12678209" target="_blank">aqui</a>.</p>
  </div>

  <div class="btn_position">
    <%= link_to "Descubra o universo fugifala ", journals_path, class: "btn_primary" %>
  </div>
</div>
